form(class="form-signin" method='post' action='electronics/addPrefencesElectronics')
   label Brand:
   select(name='brand')
     each brand in brands
       option(value=brand) #{brand}
   label Model:
   select(name='model')
     each model in models
       option(value=model) #{model}
   label Color:
   select(name='color')
     each color in colors
       option(value=color) #{color}  
   label Operating System:
   select(name='os')
     each os in oss
       option(value=os) #{os}
   label Minimum Price:
   input(type="text" name='min_price' id="min_price" class="form-control" placeholder="Minimum Price")
   label Maximum Price:
   input(type="text" name='max_price' id="max_price" class="form-control" placeholder="Maximum Price")
   button(type='submit' class='glyphicon glyphicon-plus')
    