each product in products
          div(class="product-pannel")
              div(class="product-picture")
                a(href=product.seller)
                  img(class="picture" SRC=product.picture ALT="Home")
              div(class="product-description")
                a(href="#")
                  h5(class='prodTop') #{product.title}
                a(href='/follow?category='+product.category+'&image='+product.picture+'&title='+product.title)
                 span Follow Me
                  
                p #{product.location}
                p #{product.nr_users}
                p #{product.nr_users1}
                p #{product.nr_users2}
                p(class='prodDesc') #{product.description}
