each review in reviews
                 div(class='review')
                   img(class="img-circle" alt='IMG' width=100 height=100 src=review.userimg)
                   h3 #{review.title}
                   span Up Votes: #{review.upVotes}
                   span Down Votes: #{review.downVotes}
                   p #{review.body}