div(id="bodydiv")
   div(id="tops")
      div(class="previewTop")
            if logged==0
               button(type="button"  class="preview_button" onclick="alert('Hello world!')") most matched to user profile
            else
               
               button(type="button"  class="preview_button" onclick="alert('Hello world!')") most matched to your profile

            p #{text_test}

       


      div(class="previewTop")
         button(type="button"  class="preview_button") most controversial
            p #{text_test}
         div(class='' id='controversialPanel')

      div(class="previewTop")
           button(type="button"  class="preview_button") most desireble
             p #{text_test}
           div(class='' id='desirablePanel')
       


      div(class="previewTop")
            button(type="button"  class="preview_button") most undesirable
             p #{text_test}
            div(class='' id='undesirablePanel')
    
   div(class="main-rev")
     div(id="reviews")
         if logged==0
            h3(class="positive_reviews")
                a(href="#" class=abouthref) positive reviews  
                select(id='pozitive_category')
                   option(value='hotels') Hotels
                   option(value='cars') Cars 
                   option(value='books') Books
                   option(value='electronics') Electronics
                   option(value='restaurants') Restaurants
            div(class='review-text' id="pozitive_shadow")
         else
         
          h3(class="positive_reviews")
             a(href="#" class=abouthref) you might like...
          div(id="shadow") 
     div(id="reviews1")
        if logged==0
           h3(class="positive_reviews")
              a(href="#" class='abouthref') negative reviews  
              select(id='negative_category')
                   option(value='hotels') Hotels
                   option(value='cars') Cars 
                   option(value='books') Books
                   option(value='electronics') Electronics
                   option(value='restaurants') Restaurants
           div(class='review-text' id="negative_shadow") 
        else

          h3(class="positive_reviews")
              a(href="#" class='abouthref') stay away from...
          div(id="shadow")


